* {
  @apply transition-all;
}

.home {
  @apply px-6;

  &__feed {
    @apply flex flex-col mt-4;
  }
}

.post {
  @apply mt-6 bg-white rounded-lg border-2;

  width: 20em;

  &:first-of-type {
    @apply mt-0;
  }

  &__header {
    @apply flex flex-row justify-between p-2 border-b;
  }

  &__content {
    @apply p-4 border-b;
  }

  &__action {
    @apply flex flex-row p-2;
  }

  &__image {
    @apply p-2;
  }

  &__profile {
    @apply flex flex-row;
  }

  &__info {
    @apply flex flex-col ml-2;
  }

  &__name {
    @apply text-base;
  }

  &__date {
    @apply text-sm text-gray-500;
  }

  &__option-toggle {
    @apply px-4 rounded-lg outline-none;

    &:hover {
      @apply bg-gray-200;
    }
  }

  &separator {
     @apply border border-gray-400 mt-6 mb-6;
  }

  &__action-item {
    @apply flex justify-center items-center px-4 py-2 rounded-lg outline-none box-border;

    min-width: 7rem;

    * {
      @apply cursor-pointer;
    }

    &.active {
      @apply border-2 border-red-900;
    }
  }

  &__action-icon {
    @apply px-2;

    &.active {
      @apply text-red-900;
    }
  }

  &__action-label {
    @apply text-sm;

    &.active {
      @apply font-medium text-red-900;
    }
  }
}

@screen md {
  .post {
    width: 30em;
  }
}

@screen lg {
  .post {
    width: 35em;
  }
}

@screen xl {
  .post {
    width: 40em;
  }
}
